body {
    
    background: rgb(180, 212, 221);
}
.home {
    margin-top: 140px;
}
.container {
    width: 420px;

}
.marcador {
    background: linear-gradient(50deg, rgb(7, 165, 112), rgb(11, 11, 241));
    height: 380px;
   
    border-radius: 15px;
    text-align: center;
    
}

.texto {
    font-size: 1em;
    color: white;
}
.botao{
    margin-top: 10px;
    background: rgb(7, 165, 112);
    color: white;
}
input.botao:hover{
    background: rgb(2, 102, 69);
    transition: 0.2s;
}
